.DS_Store
**/*.rs.bk
*.h5
*.libsvm
*.log
*.pb
*.sqlite
*_features.txt
*debug.txt
.env
.token
/target/
bin/princhess
builds/
engine/*
expanded_feature_list.txt
feature_whitelist.txt
lichess*.pgn
old-versions/*
out/
pgn/
policy_key.txt
run_goose.sh
syzygy
train/*_data*/*
train/*model
train/logs
train/.env
train/__pycache__
train/pgn/*
train/pgn.all
train_data*
train/*_weights
train/*_bias
train/current
train/state_tuning
train/tuning_plots
train/tuning_*/
