services:
  fastchess:
    build:
      context: .
      dockerfile: bin/Dockerfile.fastchess
    volumes:
      - ./target/release/princhess:/engines/princhess
      - ./builds:/engines/builds:ro
      - ./syzygy:/syzygy:ro
      - ./target/fastchess:/state

  tune:
    build:
      context: .
      dockerfile: bin/Dockerfile.tune
    volumes:
      - ./target/release/princhess:/engines/princhess
      - ./builds:/engines/builds:ro
      - ./syzygy:/syzygy:ro
      - ./bin/tuning_config.json:/config/tuning_config.json:ro
      - ./target/tuning/data:/data
      - ./target/tuning/plots:/plots
