services:
  elo_test:
    build:
      context: .
      dockerfile: bin/Dockerfile.cutechess-cli
    command: -engine cmd=/engines/princhess -engine cmd=/engines/princhess-0.3.1 -each proto=uci tc=1+1 timemargin=1000 option.SyzygyPath=/syzygy book=/books/gm2001.bin bookdepth=2 -sprt elo0=10 elo1=25 alpha=0.05 beta=0.05 -rounds 1000 -recover -ratinginterval 1 
    volumes:
      - ./target/release/princhess:/engines/princhess
      - ./syzygy:/syzygy:ro
    environment:
      RUST_LOG: warn

  crash_test:
    build:
      context: .
      dockerfile: bin/Dockerfile.cutechess-cli
    command: -engine cmd=/engines/princhess -engine cmd=/engines/princhess -each proto=uci tc=1+1 book=/books/gm2001.bin bookdepth=2 -rounds 20 
    volumes:
      - ./target/release/princhess:/engines/princhess
    environment:
      RUST_LOG: warn

  all_versions:
    build:
      context: .
      dockerfile: bin/Dockerfile.cutechess-cli
    command: >
      -engine cmd=/engines/princhess-0.4.0
      -engine cmd=/engines/princhess-0.3.1
      -each proto=uci tc=1+1 timemargin=1000
            option.SyzygyPath=/syzygy option.Hash=256 option.Threads=1
            book=/books/gm2001.bin bookdepth=2
      -tournament gauntlet -games 2 -rounds 30
      -recover -ratinginterval 1
    volumes:
      - ./syzygy:/syzygy:ro
    environment:
      RUST_LOG: warn
