services:
  elo_check:
    build:
      context: .
      dockerfile: bin/Dockerfile.cutechess-cli
    command:
      -engine cmd=/engines/princhess-main name=princhess-main
      -engine cmd=/engines/princhess-0.11.0 name=princhess-0.11.0
      -engine cmd=/engines/princhess-0.10.0 name=princhess-0.10.0

      -each proto=uci tc=10+0.1
            option.SyzygyPath=/syzygy option.Hash=128 option.Threads=1
      -openings file=/books/Pohl.epd format=epd order=random
      -games 2 -repeat -rounds 1000
      -recover -ratinginterval 10 -concurrency 6
    volumes:
      - ./target/release/princhess:/engines/princhess
      - ./target/release/princhess-main:/engines/princhess-main
      - ./target/release/princhess-0.11.0:/engines/princhess-0.11.0
      - ./target/release/princhess-0.10.0:/engines/princhess-0.10.0
      - ./syzygy:/syzygy:ro

  sprt_gain:
    build:
      context: .
      dockerfile: bin/Dockerfile.cutechess-cli
    command:
      -engine cmd=/engines/princhess name=princhess
      -engine cmd=/engines/princhess-main name=princhess-main

      -each proto=uci tc=10+0.1
            option.SyzygyPath=/syzygy option.Hash=128 option.Threads=1
      -sprt elo0=0 elo1=5 alpha=0.05 beta=0.05
      -openings file=/books/Pohl.epd format=epd order=random
      -games 2 -repeat -rounds 10000
      -recover -ratinginterval 10 -concurrency 6
    volumes:
      - ./target/release/princhess:/engines/princhess
      - ./target/release/princhess-main:/engines/princhess-main
      - ./syzygy:/syzygy:ro


  sprt_equal:
    build:
      context: .
      dockerfile: bin/Dockerfile.cutechess-cli
    command:
      -engine cmd=/engines/princhess name=princhess
      -engine cmd=/engines/princhess-main name=princhess-main

      -each proto=uci tc=10+0.1
            option.SyzygyPath=/syzygy option.Hash=128 option.Threads=1
      -sprt elo0=-5 elo1=0 alpha=0.05 beta=0.05
      -openings file=/books/Pohl.epd format=epd order=random
      -games 2 -repeat -rounds 10000
      -recover -ratinginterval 10 -concurrency 6
    volumes:
      - ./target/release/princhess:/engines/princhess
      - ./target/release/princhess-main:/engines/princhess-main
      - ./syzygy:/syzygy:ro

  debug:
    build:
      context: .
      dockerfile: bin/Dockerfile.cutechess-cli
    command:
      -engine cmd=/engines/princhess name=princhess
      -engine cmd=/engines/princhess-main name=princhess

      -each proto=uci tc=10+0.1
            option.SyzygyPath=/syzygy option.Hash=128 option.Threads=1
      -sprt elo0=-10 elo1=-2.5 alpha=0.05 beta=0.05
      -openings file=/books/Pohl.epd format=epd order=random
      -debug -rounds 1
      -pgnout /pgn/debug.pgn
    volumes:
      - ./target/release/princhess:/engines/princhess
      - ./target/release/princhess-main:/engines/princhess-main
      - ./syzygy:/syzygy:ro
      - ./pgn:/pgn
