services:
  elo_check:
    build:
      context: .
      dockerfile: bin/Dockerfile.cutechess-cli
    command:
      -engine cmd=/engines/princhess-0.14.0 name=princhess-0.14.0
      -engine cmd=/engines/princhess-0.13.0 name=princhess-0.13.0

      -each proto=uci tc=8+0.08
            option.SyzygyPath=/syzygy option.Hash=128 option.Threads=1
      -openings file=/books/8moves_v3.epd format=epd order=random
      -games 2 -repeat -rounds 500
      -recover -ratinginterval 10 -concurrency 6
    volumes:
      - ./target/release/princhess:/engines/princhess
      - ./builds/princhess-main:/engines/princhess-main
      - ./builds/princhess-0.14.0:/engines/princhess-0.14.0
      - ./builds/princhess-0.13.0:/engines/princhess-0.13.0
      - ./syzygy:/syzygy:ro

  sprt_gain:
    build:
      context: .
      dockerfile: bin/Dockerfile.cutechess-cli
    command:
      -engine cmd=/engines/princhess name=princhess
      -engine cmd=/engines/princhess-main name=princhess-main

      -each proto=uci tc=8+0.08
            option.SyzygyPath=/syzygy option.Hash=128 option.Threads=1
      -sprt elo0=0 elo1=5 alpha=0.05 beta=0.1
      -openings file=/books/4moves_noob.epd format=epd order=random
      -games 2 -repeat -rounds 7500
      -recover -ratinginterval 10 -concurrency 6
    volumes:
      - ./target/release/princhess:/engines/princhess
      - ./builds/princhess-main:/engines/princhess-main
      - ./syzygy:/syzygy:ro

  sprt_gain_5k:
    build:
      context: .
      dockerfile: bin/Dockerfile.cutechess-cli
    command:
      -engine cmd=/engines/princhess name=princhess
      -engine cmd=/engines/princhess-main name=princhess-main

      -each proto=uci tc=inf nodes=5000
            option.SyzygyPath=/syzygy option.Hash=128 option.Threads=1
      -sprt elo0=0 elo1=5 alpha=0.05 beta=0.1
      -openings file=/books/4moves_noob.epd format=epd order=random
      -games 2 -repeat -rounds 7500
      -recover -ratinginterval 10 -concurrency 6
    volumes:
      - ./target/release/princhess:/engines/princhess
      - ./builds/princhess-main:/engines/princhess-main
      - ./syzygy:/syzygy:ro

  sprt_gain_ltc:
    build:
      context: .
      dockerfile: bin/Dockerfile.cutechess-cli
    command:
      -engine cmd=/engines/princhess name=princhess
      -engine cmd=/engines/princhess-main name=princhess-main

      -each proto=uci tc=60+1
            option.SyzygyPath=/syzygy option.Hash=128 option.Threads=1
      -sprt elo0=0 elo1=5 alpha=0.1 beta=0.2
      -openings file=/books/4moves_noob.epd format=epd order=random
      -games 2 -repeat -rounds 7500
      -recover -ratinginterval 10 -concurrency 6
    volumes:
      - ./target/release/princhess:/engines/princhess
      - ./builds/princhess-main:/engines/princhess-main
      - ./syzygy:/syzygy:ro

  sprt_equal:
    build:
      context: .
      dockerfile: bin/Dockerfile.cutechess-cli
    command:
      -engine cmd=/engines/princhess name=princhess
      -engine cmd=/engines/princhess-main name=princhess-main

      -each proto=uci tc=8+0.08
            option.SyzygyPath=/syzygy option.Hash=128 option.Threads=1
      -sprt elo0=-5 elo1=0 alpha=0.05 beta=0.1
      -openings file=/books/4moves_noob.epd format=epd order=random
      -games 2 -repeat -rounds 7500
      -recover -ratinginterval 10 -concurrency 6
    volumes:
      - ./target/release/princhess:/engines/princhess
      - ./builds/princhess-main:/engines/princhess-main
      - ./syzygy:/syzygy:ro

  self_play:
    build:
      context: .
      dockerfile: bin/Dockerfile.cutechess-cli
    command:
      -engine cmd=/engines/princhess-0.14.0 name=princhess-0.14.0
      -engine cmd=/engines/princhess-0.14.0 name=princhess-0.14.0

      -each proto=uci tc=inf nodes=5000
            option.Hash=128 option.Threads=1
      -openings file=/books/8moves_v3.epd format=epd order=random
      -rounds 100000
      -recover -ratinginterval 100 -concurrency 6
      -pgnout /pgn/self_play-0.14.0.pgn min fi
    volumes:
      - ./builds/princhess-0.14.0:/engines/princhess-0.14.0
      - ./pgn:/pgn

  quick_check:
    build:
      context: .
      dockerfile: bin/Dockerfile.cutechess-cli
    command:
      -engine cmd=/engines/princhess name=princhess
      -engine cmd=/engines/princhess-main name=princhess-main

      -each proto=uci tc=8+0.08
            option.SyzygyPath=/syzygy option.Hash=128 option.Threads=1
      -sprt elo0=-5 elo1=5 alpha=0.3 beta=0.4
      -openings file=/books/4moves_noob.epd format=epd order=random
      -games 2 -repeat -rounds 150
      -recover -ratinginterval 10 -concurrency 6
    volumes:
      - ./target/release/princhess:/engines/princhess
      - ./builds/princhess-main:/engines/princhess-main
      - ./syzygy:/syzygy:ro

  debug:
    build:
      context: .
      dockerfile: bin/Dockerfile.cutechess-cli
    command:
      -engine cmd=/engines/princhess name=princhess
      -engine cmd=/engines/princhess-main name=princhess-main

      -each proto=uci tc=8+0.08
            option.SyzygyPath=/syzygy option.Hash=128 option.Threads=1
      -openings file=/books/8moves_v3.epd format=epd order=random
      -debug -rounds 1
      -pgnout /pgn/debug.pgn
    volumes:
      - ./target/release/princhess:/engines/princhess
      - ./builds/princhess-main:/engines/princhess-main
      - ./syzygy:/syzygy:ro
      - ./pgn:/pgn

  tune_gauntlet:
    build:
      context: .
      dockerfile: bin/Dockerfile.cutechess-cli
    command:
      -engine cmd=/engines/princhess-main name=princhess-main
      -engine cmd=/engines/princhess name=princhess- option.

      -each proto=uci tc=inf nodes=5000
            option.SyzygyPath=/syzygy option.Hash=128 option.Threads=1
      -tournament gauntlet
      -openings file=/books/4moves_noob.epd format=epd order=random
      -games 2 -repeat -rounds 250
      -recover -ratinginterval 100 -concurrency 6
    volumes:
      - ./target/release/princhess:/engines/princhess
      - ./builds/princhess-main:/engines/princhess-main
      - ./syzygy:/syzygy:ro

  tune:
    build:
      context: .
      dockerfile: bin/Dockerfile.tune
    volumes:
      - ./target/release/princhess:/engines/princhess
      - ./builds/princhess-main:/engines/princhess-main
      - ./syzygy:/syzygy:ro
      - ./bin/tuning_config.json:/config/tuning_config.json:ro
      - ./train/tuning_data:/data
      - ./train/tuning_plots:/plots

